<h1>Album</h1>
<p id="notice"><%= notice%></p>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <% if @album.cover_photo.attached? %>
      <%=image_tag(@album.cover_photo,class: "card-top-img img-fluid") %>
      <%end%>
    </div>
    <div class="card-footer text-center">
      <a data-bs-toggle="collapse" href="#album" role="button" aria-expanded="false"><i class="fa fa-arrow-circle-down"
          style="font-size:23px"></i></a>
    </div>
    <section class="collapse multi-collapse" id="album">
      <div class="card-footer text-center">
        <div class="d-flex justify-content-between">
          <div>
            <strong>Title:</strong>
            <%=@album.title%>
          </div>
          <div>
            <strong>Description:</strong>
            <%=@album.description%>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="d-flex justify-content-between">
          <div>
            <strong>Tags:</strong>
            <%=@album.all_tags %>
          </div>
          <div>
            <strong>Total Photos:</strong>
            <%=@album.photos.count%>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%=render 'photos/photo'%>
<div class="text-center my-4">
  <%= link_to 'Add Photos', album_add_photo_path(@album), class:"btn btn-success"%>
  <span class="mx-3"><%= link_to "Back", root_path,class: "btn btn-secondary"%></span>
</div>
 